.group-page {
  min-height: 100%;

  &__top {
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 24px;
  }
}

.student-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
