<div class="greeting-page">
  <form
    class="greeting-page__form"
    [formGroup]="greetingForm"
    (ngSubmit)="displayGreeting()"
  >
    <label class="text-input">
      <span class="text-input__label">Введите ваше имя:</span>
      <input
        class="text-input__input"
        type="text"
        formControlName="username" />
    </label>

    <app-button
      type="submit"
    >
      Приветствовать!
    </app-button>
  </form>

  <div class="greeting-page__message">
    <app-typography size="24px">
      {{greetingMessage}}
    </app-typography>
  </div>
</div>
