<header class="header">
  <nav class="header__nav navigation">
    <ul class="navigation__list">
      <li class="navigation__item">
        <a
          class="navigation__link"
          routerLink=""
          routerLinkActive="navigation__link--active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Главная
        </a>
      </li>
      <li class="navigation__item">
        <a
          class="navigation__link"
          routerLink="/group/6132-020402D"
          routerLinkActive="navigation__link--active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Группа 6132-020402D
        </a>
      </li>
    </ul>
  </nav>
</header>
